* {
	box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 
    "side nav nav"
    "side main main";
    font-family: 'Open Sans', sans-serif;
}

nav {
    grid-area: nav;
    background-color: #303030;
    height: 15%;
    color: #FFFFFF;
    padding-left: 30px;
}

aside {
    grid-area: side;
    height: 100vh;
    overflow-y: scroll;
}

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 300;
}

main {
    grid-area: main;
}

th{
    font-weight: 700;
    color: #303030;
    padding: 10px;
}

td {
    padding: 15px
}

table, th, td {
    border: .5px solid #303030;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

.report-selected:hover {
    background-color: #009B00;
    color: #FFFFFF;
}

.selected-report-table {
    width: 800px;
}

.side-nav {
    margin: auto;
    margin-top: 10px;
}

form {
    margin: auto;
    margin-top: -400px;
    margin-left: 100px;
}

section {
    margin-left: 100px;
    margin-top: 100px;
    position: absolute;
}

.side-nav-header {
    margin-left:12%;
}

button {
    padding: 5px;
    border: 1px solid #303030;
    background-color: transparent;
    border-radius: 2px
}

button:hover {
    background-color: #009B00;
    color: #FFFFFF;
    border: 1px solid #009B00;
}

input {
    height: 28px;
    padding: 3px;
}

#reset-button {
    margin-left: 20px;
}

section h2 {
    display: inline;
}


